@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


body {
        margin: 0;
        padding: 0;
        background-image: url("./assets/mesh-bg.png"); /* Replace with your image path */
        background-size: cover; /* Ensure the image covers the entire background */
        background-position: center; /* Center the image */
        background-attachment: fixed; /* Keep the background fixed while scrolling */
        font-family: 'Arial', sans-serif; /* Example font */
        color: #333; /* Example text color */
}